@page
@model MinhaAplicacao.Pages.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/Login" />
</head>
<body>
    <!-- Apenas um redirecionamento rápido -->
</body>
</html>